<ion-header>
  <ion-toolbar>
    <ion-title>
      Daftar Rute Penerbangan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-content>
        <ion-img src="/assets/garuda.jpg"></ion-img>
      <p>- Tanggal/Jam pemberangkatan: 13 Juli 2019 : 07.30am</p>
      <p>- Rute Penerbangan: Jakarta - Bangkok</p>
      <p>- Harga: Rp.2.500.000</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-content>
        <ion-img src="/assets/lion.jpg"></ion-img>
        <p>- Tanggal/Jam pemberangkatan: 13 Juli 2019 : 08.30am</p>
        <p>- Rute Penerbangan: Jakarta - Jayapura</p>
        <p>- Harga: Rp.1.500.000</p>
          </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-content>
        <ion-img src="/assets/airasia.png"></ion-img>
        <p>- Tanggal/Jam pemberangkatan: 13 Juli 2019 : 08.45am</p>
        <p>- Rute Penerbangan: Jakarta - Timor timor</p>
        <p>- Harga: Rp.1.750.000</p>
          </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-content>
        <ion-img src="/assets/singapore.jpg"></ion-img>
        <p>- Tanggal/Jam pemberangkatan: 13 Juli 2019 : 12.30am</p>
        <p>- Rute Penerbangan: Jakarta - Kuching</p>
        <p>- Harga: Rp.1.150.000</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-content>
        <ion-img src="/assets/emirates.png"></ion-img>
        <p>- Tanggal/Jam pemberangkatan: 13 Juli 2019 : 15.30am</p>
        <p>- Rute Penerbangan: Jakarta - Mecca</p>
        <p>- Harga: Rp.5.500.000</p>
    </ion-card-content>
  </ion-card>
</ion-content>
